@font-face {
  src: url("../font/ShadowsIntoLight-Regular.ttf");
  font-family: shadow;
}

@font-face {
  src: url("../font/courier-new.ttf");
  font-family: courrier;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  background-color: black;
  height: 100vh;
  width: 100vw;
  font-family: shadow;
  cursor: url("../cursor.png"), auto;
  font-size: 14pt;
  color: white;
  text-shadow: -0.1rem -0.2rem 0.2rem;
  -webkit-transition: all;
  transition: all;
}

body:not(.visible) {
  visibility: hidden;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  cursor: url("../cursor.png"), auto;
}

a:hover {
  color: #bdb9b9;
  -webkit-animation: body_a_animation2 1s infinite ease-in-out;
          animation: body_a_animation2 1s infinite ease-in-out;
}

@-webkit-keyframes body_a_animation2 {
  50% {
    text-shadow: -0.1rem -0.5rem 1rem #F5F4C8;
  }
}

@keyframes body_a_animation2 {
  50% {
    text-shadow: -0.1rem -0.5rem 1rem #F5F4C8;
  }
}

#menu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 5s;
  transition: all 5s;
}

#menu_container:not(.visible) {
  visibility: hidden;
  opacity: 0;
}

#menu_container #title {
  color: #F5F4C8;
  text-shadow: -0.1rem -0.2rem 0.5rem #F5F4C8;
  font-size: 4vw;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  -webkit-animation: title_anim 10s forwards;
          animation: title_anim 10s forwards;
}

@-webkit-keyframes title_anim {
  100% {
    letter-spacing: 2vw;
  }
}

@keyframes title_anim {
  100% {
    letter-spacing: 2vw;
  }
}

#menu_container #menu_items {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 50%;
  -webkit-animation: menu_items_animation 1s;
          animation: menu_items_animation 1s;
  z-index: 2;
}

#menu_container #menu_items #first_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 50%;
  -webkit-animation: menu_items_animation 2s;
          animation: menu_items_animation 2s;
  z-index: 2;
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#menu_container #menu_items #first_page:not(.visible) {
  opacity: 0;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
}

#menu_container #menu_items #tutorial {
  position: absolute;
  top: 40vh;
  left: 30vw;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
  height: 40vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#menu_container #menu_items #tutorial:not(.visible) {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(20vw);
          transform: translateX(20vw);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#menu_container #menu_items #tutorial img {
  width: 40vw;
  font-family: shadow;
}

@-webkit-keyframes menu_items_animation {
  0% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@keyframes menu_items_animation {
  0% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}
/*# sourceMappingURL=index.css.map */