@font-face{
    src: url('/FIGHT_ME/resources/font/ShadowsIntoLight-Regular.ttf');
    font-family: shadow;
}
@font-face{
    src: url("/FIGHT_ME/resources/font/courier-new.ttf");
    font-family: courrier;
}

body{
    display: none;
    align-items: center;
    justify-content: center;
    margin:0px;
    background-color: black;
    height: 100vh;
    width: 100vw;
    font-family: shadow;
    cursor: url('/FIGHT_ME/resources/cursor.png'),auto;
    font-size: 14pt;
    color:white;
    text-shadow: -0.1rem -0.2rem 0.2rem;
}

#menu_container{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    animation: body_animation 5s ease-in-out;
    overflow: hidden;
    flex-direction: column;
}
@keyframes body_animation{
    0%{
        opacity: 0;
    }
}

body #title{
    color:#F5F4C8;
    text-shadow: -0.1rem -0.2rem 0.5rem #F5F4C8;
    font-size: 4vw;
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
    animation: title_anim 10s forwards;
}
@keyframes title_anim{
    100%{
        letter-spacing: 2vw;
    }
}

body a{
    font-size: 1rem;
    text-decoration: none;
    color:white;
    cursor: url('/FIGHT_ME/resources/cursor.png'),auto;
}
@keyframes menu_items_animation{
    0%{
        transform: translateY(100vh);
    }
}
body a:hover{
    color:rgb(189, 185, 185);
    animation: body_a_animation2 1s infinite ease-in-out;
}
@keyframes body_a_animation2{
    50%{
        text-shadow: -0.1rem -0.5rem 1rem #F5F4C8;
    }
}

body #menu_items{
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 50%;
    animation: menu_items_animation 1s ;
    z-index: 2;
}

body #menu_items #first_page{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 50%;
    animation: menu_items_animation 1s ;
    z-index: 2;
}
body #menu_items #tutorial{
    top: 50vh;
    left: 50vw;
    z-index: 1;
    display: none;
    animation:tutorial 1s;
    flex-direction: column;
    width: 40vw;
    height: 40vh;
    justify-content: space-evenly;
    align-items: center;
}

#tutorial img{
    width: 40vw;
    font-family: shadow;
}

@keyframes tutorial{
    0%{
        transform: translateX(20vw);
        opacity: 0;
    }
}




