<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Fight Game</title>
    <link rel="stylesheet" href="/Fight_Game/resources/css/game.css">
</head>
<body>

<p>Loading</p>

<canvas id="canvas"> </canvas>

<div id="messages">
    <div  id="get_ready">GET READY</div>
    <div id="fight">FIGHT !!!!</div>

    <div id="result_menu">
        <div id="result"></div>
        <a href="/Fight_Game/index.html">BACK TO MENU</a>
    </div>
    <script>
        ///audio object
        let audios = {
            fight_music:new Audio("/Fight_Game/resources/audios/musics/alexander-nakarada-chase.mp3"),
            weak_dmg:new Audio("/Fight_Game/resources/audios/effects/weak_damage.wav"),
            strong_dmg:new Audio("/Fight_Game/resources/audios/effects/strong_damage.wav")
        }
        audios.fight_music.play()
    </script>
</div>

<script>
    function canvas_resize(){
        let canvas = document.getElementById('canvas')
        
        window.my_width = 1920
        window.my_height =1080


        canvas.width = window.my_width
        canvas.height = window.my_height
        
    }
    canvas_resize()
    window.onresize = canvas_resize; 
</script>


</body>

<!----game logic---->
<script type="module">
    
    //events
    import {key_events} from '/Fight_Game/modules.js'
    key_events()

    //creating chars
    import {Player} from '/Fight_Game/modules.js'
    let player = new Player({can_move:false})

    import {Enemy} from '/Fight_Game/modules.js'
    let enemy = new Enemy({can_move:false})

    ///game logic
    import {Fight} from '/Fight_Game/modules.js'
    window.onload = ()=>{
        let fight = new Fight(player,enemy)
        ///play fade animation
        document.getElementsByTagName('canvas')[0].style.display = "flex" 
    }
   

</script>


</html>